*
{
    box-sizing: border-box;

}
body {
    background-color:  white;
    font-family: 'Roboto' , sans-serif;
    margin: 0;

}
.container {
    display: flex;

}
.side {
    min-width: 320px;
    height: 200px;
    background-color: #fff;
    height: 100%;
    min-height: 100 vh;
    border-right: 1px solid #e1e1e1;
}
.side .header {
    background: linear-gradient(262deg, rgb(157, 147, 147), rgb(91, 213, 241));
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 8px 0 rgba(0,20,20,0.2);
    display: flex;
    align-items: center;
    padding: 20px;
}